.*
/DLL/CPP_DLL/Clipper2Dll/x64/Debug/Clipper2Dll.tlog
/DLL/CPP_DLL/Clipper2Dll/x64/Debug
/DLL/CPP_DLL/x64/Debug
/DLL/CPP_DLL/Clipper2Dll/Debug
/DLL/CPP_DLL/Clipper2Dll/Release/Clipper2Dll.tlog
/DLL/CPP_DLL/Clipper2Dll/Release
/DLL/CPP_DLL/Clipper2ZDll/Debug
/DLL/CPP_DLL/Clipper2ZDll/Release
/DLL/CPP_DLL/Clipper2ZDll/x64/Debug
/DLL/CPP_DLL/Clipper2ZDll/x64/Release/Clipper2ZDll.tlog
/DLL/CPP_DLL/Clipper2ZDll/x64/Release
/DLL/CPP_DLL/Clipper2Dll/x64/Release
